

.nav {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-title {
    color: white;
    margin-left: 22px;
    margin: 10px;
    margin-bottom: 25px;
    margin-left: 550px;

}

.nav-links {
    display: flex;
    text-decoration: none;
}
.jdida {
    display: flex;
    align-items: center;

}

.jdida a {
    margin: 90px;
}

a {
    color: white;

}

.gear_user {
    color: black;
}

.btn {
    background-color: rgb(56, 190, 190);
    color: white;
    margin-right: 20px;
    /* position: relative; */
    left: 200px;
}

#container {
    width: 550px;
    height: 400px;
    border: 3px solid silver;
    margin: auto;
    margin-top: 50px;
        position: relative;
            right: 100px;
}

.top-box {
    height: 110px;
    width: 550px;
    background-color: rgb(32, 186, 186);
}

.arneb {
    height: 100px;
    position: relative;
    top: 60px;
    left: 20px;
}

.h1 {
    position: relative;
    top: 50px;
    left: 25px;
    margin-bottom: 60px;
}

.mark {
    width: 20px;
    margin-left: 20px;
}

p {
    margin-left: 25px;
}

.gear {
    width: 20px
}

#container_buttom{
    width: 550px;
    height: 200px;
    border: 3px solid silver;
    margin: auto;
    margin-top: 50px;
    position: relative;
    right: 100px;

}

.upper_box{
    height:50px;
    width: 530px;
    background-color: rgb(93, 91, 91);
    position: relative;
    top: -20px;
    padding-left: 20px;
    padding-top: 12px;
    color: white;
}

.box_louta{
    margin-top: -20px;
        margin-left: 20px;
    font-style: italic;
}

.gray{
    color: grey;
    margin-top: 20px;
    margin-left: 20px;
}

.black {
        margin-top: 20px;
            margin-left: 20px;
}


#container_top_right{
    width: 250px;
    height: 220px;
    border: 3px solid silver ;
position: relative;
left: 1150px;
bottom: 663px;
}

.todd_e{
    width: 40px;
    margin-left: 10px;
display: flex;
justify-content: center;

}
.num2_up{
    background-color: rgb(93, 91, 91);
    color: white;
    margin-top: -20px ;
}

.number2 {
    background-color: silver;
    width: 20px;
    margin-left: 10px;
    position: relative;
    top: 20px ;
    border-radius: 50%;
}

.number2_p{
position: relative;
bottom: 20px;
left: 20px;

}

.accept-circle, .refuse-circle{
    width: 30px;
    position: relative;
left: 160px;
bottom: 100px;


}
.todd_h1{
    width: 50p;
    position: relative;
    left: 60px;
    bottom: 50px;
}

.phill_p{
    width: 40px;
    position: relative;
    bottom: 70px;
    left: 10px;
}

.phill_h1{
    position: relative;
        left: 60px;
        bottom: 120px;
}

.accept-circle2, .refuse-circle2{
    width: 30px;
        position: relative;
        left: 160px;
        bottom: 170px;
}

#container_bottom_right{
    width: 250px;
    height: 370px;
    border: 3px solid silver;
    position: relative;
    left: 1150px;
    bottom: 600px;
}

#container_bottom_right img {
width: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.num3_up{
    height:70px ;
    background-color: rgb(93, 91, 91);
        color: white;
        margin-top: -20px;
}

#num3_down h4{
    color: black;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    margin-right:100px  ;
}

.num3_up h2 {
    background-color: silver;
        width: 55px;
        margin-left: 10px;
        position: relative;
        top: 20px;
        border-radius: 40%;

} 
.num3_up p {
    position: relative;
        bottom: 20px;
        left: 50px;
}

/* .jdida a{
    decira
} */
.container1{
   width: 70%;
   margin: auto 10px;

}