h1 {
    color: white;
    background-color: black;
}

h2 {
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    font-style: bold;
}

h3 {
    text-align: right;
    background-color: aqua;
    text-decoration: underline;
}


p {
    background-color: blue;
}

div {
    background-image: src ("Week1/Day 1/Practice/images/download(2).png");
    background-position : center;
    background-size: auto;
    background-repeat: no-repeat;
}